body {
    background-color : yellowgreen;
    text-align: center;
    background-position: center;
}

#username {
   width: 400px;
}

#logout {
    float: right;
    font-size: 20px;
}

h3 {
    font-size: 25px;
}








